In [13]:
# Import necessary modules
import sys
import pandas as pd

# Add the path to the scripts folder
# sys.path.append('../scripts')

# Import the functions from module2.py
from module2 import load_data, check_missing_values

# Load the data using the function
df = load_data('../data/heart.csv')

# Display the first few rows of the DataFrame
df.head()

Data loaded successfully!

,Age,Sex,Chest pain type,BP,Cholesterol,FBS over 120,EKG results,Max HR,Exercise angina,ST depression,Slope of ST,Number of vessels fluro,Thallium,Heart_Disease
0,70,1,4,130,322,0,2,109,0,2.4,2,3,3,Presence
1,67,0,3,115,564,0,2,160,0,1.6,2,0,7,Absence
2,57,1,2,124,261,0,0,141,0,0.3,1,0,7,Presence
3,64,1,4,128,263,0,0,105,1,0.2,2,1,7,Absence
4,74,0,2,120,269,0,2,121,1,0.2,1,1,3,Absence

In [14]:
missing_values=check_missing_values(df)
print(missing_values)

Age                        0
Sex                        0
Chest pain type            0
BP                         0
Cholesterol                0
FBS over 120               0
EKG results                0
Max HR                     0
Exercise angina            0
ST depression              0
Slope of ST                0
Number of vessels fluro    0
Thallium                   0
Heart_Disease              0
dtype: int64

In [10]:
expected_output = pd.Series([1, 1, 1], index=['A', 'B', 'C'])
expected_output

A    1
B    1
C    1
dtype: int64